
h1 {

	font-family: 'Kelly Slab', serif;
	font-size: 39.11px;
	margin-left: 10%;
	margin-right: 5%;
}

h2 {
	

	font-family: 'Kelly Slab';
	font-size: 18.95px;
	margin-left: 10%;

	text-decoration: none;

}

h3 {

	font-family: 'quicksand', san serif;
	font-size: 13.78px;
	font-weight: 500;
	margin-left: 10%
}


a {
	text-decoration: none;
}

p {
	font-family: 'quicksand', san serif;
	font-size: 14px;
	font-weight: 300;
	margin-left: 10%;
}

figure {
	margin: 0;
	padding: 0;

}
img {
	width: 100%;
}

li.skew-wrapper {
	background-color: blue;
	height: 90px;
	margin-left: -40px;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	/*Firefox*/
	-moz-transform: skew(0deg, -20deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: skew(0deg, -20deg);
	/*Chrome, Safari*/
	-webkit-transform: skew(0deg, -20deg);
	/*Opera*/
	-o-transform: skew(0deg, -20deg);
	/*General*/
	transform: skew(0deg, -20deg);

	-webkit-backface-visibility: hidden;
}

li.skew-wrapper figure {
	display: block;
	margin-left: 0;
	margin-top: -100px;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	
	/*Firefox*/
	-moz-transform: skew(0deg, 20deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: skew(0deg, 20deg);
	/*Chrome, Safari*/
	-webkit-transform: skew(0deg, 20deg);
	/*Opera*/
	-o-transform: skew(0deg, 20deg);
	/*General*/
	transform: skew(0deg, 20deg);

	width: 100%;
}

li.selected,
li:hover {
	background-color: white;
	height: 450px;
	width: 100%;

	/*Firefox*/
	-moz-transform: skew(0deg, 0deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: skew(0deg, 0deg);
	/*Chrome, Safari*/
	-webkit-transform: skew(0deg, 0deg);
	/*Opera*/
	-o-transform: skew(0deg, 0deg);
	/*General*/
	transform: skew(0deg, 0deg);
}

li.selected figure,
li:hover figure {
	display: block;
	margin-top: 10px;
	margin-bottom: 50px;
	z-index: -2;
	/*Firefox*/
	-moz-transform: skew(0deg, 0deg);
	/*Microsoft Internet Explorer*/
	-ms-transform: skew(0deg, 0deg);
	/*Chrome, Safari*/
	-webkit-transform: skew(0deg, 0deg);
	/*Opera*/
	-o-transform: skew(0deg, 0deg);
	/*General*/
	transform: skew(0deg, 0deg);

	width: 100%;
}

span {
	
	right: -70px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 100px 100px 0;
	border-color: transparent #ffffff transparent transparent;
	opacity: 0;
	position: absolute;
	
		
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}


li:hover span {
	right: 0px;
	opacity: 100;
	z-index:  2;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}


figurecaption {

			background-color: black;
			display: block;
			color: white;
			height: 100px;
			right: -300px;
			opacity: 0;
			position: absolute;
			top: 0px;
			width: 100%;
			
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-ms-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

}
li:hover figurecaption {
		right: 0px;
		opacity: 100;
		z-index: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

/*
.plus a:before{
	width:5px;
	height:21px;
	background:#1082b1;
	top:3px;
	left:10px;
}
.plus a:after{
	width:21px;
	height:5px;
	background:#1082b1;
	top:11px;
	left:2px;
}

/*	Minus	
.minus a:before{
	width:21px;
	height:5px;
	background:#1082b1;
	top:10px;
	left:2px;
}
*/
@media screen and (max-width: 1024px) and (min-width: 560px) {}
