body {
    background: #fafafa;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Kelly Slab', serif;
    font-size: 39.11px;
    margin: 1em 5%;
}

h2, h4 {
    font-family: 'Kelly Slab';
    font-size: 18.95px;
    margin: 0 5% 1em;
    text-decoration: none;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 13.78px;
    font-weight: 500;
    margin: -1em 5% 1em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
p {
    margin-right: 10%;
}

p, li {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    font-weight: 300;
    margin: -1em 10% .25em 5%;
}

ol {
    padding: 0 1.25em;
    margin: 0 5% 1em;
}

ul {
    padding: 0;
}

li {
    margin: 0;
}

ol>li {
    list-style-type: lower-alpha;
}

ul>li {
    list-style-type: none;
}

figure {
    margin: 0;
}

figcaption {
    background-color: black;
    display: block;
    color: white;
    right: -100%;
    opacity: 0;
    padding: 1em 0;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}

:focus {
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.selected {
    opacity: 1;
    right: 0;
}


.transition-all {
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.portfolio-piece {
    /*
    background: yellow;
    border-top: 1px solid red;
    border-bottom: 1px solid green;
    */
    background: white;
    border: 10px solid #fff;
    height: 90px;

    overflow: hidden;
    padding: 0;
    position: relative;
    -webkit-backface-visibility: hidden;




    -webkit-transform: skew(0deg, -20deg);
       -moz-transform: skew(0deg, -20deg);
        -ms-transform: skew(0deg, -20deg);
         -o-transform: skew(0deg, -20deg);
            transform: skew(0deg, -20deg);
}

li.active {
    height: 600px;
    margin-bottom: 0;
}

.portfolio-piece figure {
    margin-top: -160px;
    position: absolute;
    top: 50%;

    -webkit-transform: skew(0deg, 20deg);
       -moz-transform: skew(0deg, 20deg);
        -ms-transform: skew(0deg, 20deg);
         -o-transform: skew(0deg, 20deg);
            transform: skew(0deg, 20deg);
}

li.active figure {
    margin-top: 0;
    position: absolute;
    top: 0;
}

li.active,
li.active figure {
    -webkit-transform: skew(0deg, 0deg);
       -moz-transform: skew(0deg, 0deg);
        -ms-transform: skew(0deg, 0deg);
         -o-transform: skew(0deg, 0deg);
            transform: skew(0deg, 0deg);
}

.portfolio-piece img {
    max-width: 600px;
    width: 100%;
}

.portfolio-piece-more {
    background-color: transparent;
    border: 0;
    height: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.active .portfolio-piece-more {
    opacity: 1;

}

.triangle {
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #fff transparent transparent;
    display: block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
}

.more-or-less {
    color: #000;
    font-family: monospace;
    font-size: 2em;
    font-weight: bold;
    margin: -0.5em -0.5em 0 0;
    position: absolute;
    right: 30%;
    top: 30%;
}






























